img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 100px;
    border: dotted;
    border-color: grey;
}

body {
    background-color: rgb(40, 40, 41);
    background-image: url(/resources/images/lebron-background-image.jpg);
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}

.lebron-clicker-body{
    background-image: none;
    background-color: black;
}

p, h1, h2, .achievements-list{
    color: grey;
    font-family: 'Montserrat', serif;
    font-weight: normal;
    line-height: 1.5;
}

nav ul li{
display: inline;
margin-right: 20px;
color: grey;
background-color: rgb(41, 39, 39);
font-family: 'Montserrat', 'serif';

}

nav ul {
    background-color: rgb(41, 39, 39);
}

a:hover{
    color: white;
}

a {
    color: grey;
}

h2{
    background-image: url(/resources/images/images\ \(3\).jpg);
}

.lebron-clicker-image {
    border: none;
    display: block;
    margin: auto;
}

.lebron-pts {
    text-align: center;
}

#shop-button {
    border: solid 2px #00ccff;
    display: inline;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}


#shop-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(0, 234, 255, 0.3), rgba(0,0,0));
    opacity: 0;
    transition: opacity 0.3s;
}

#shop-button:hover{
    background-color: #00ccff;
    color: #0d0d0d;
    box-shadow: 0 0 15px #00ccff, 0 0 30px #00ccff, 0 0 45px #00ccff;
}


#shop-button:hover::before{
    opacity: 1;
}

#automatic-lebron-button{
    margin: 30px;
    margin-left: 0;
}


